/* #region Global Variables */

:root {

  /* Units */

  --small-margin: 2vw;
  --big-margin: 4vw;
  font-size: 16px;

  /* Dark Theme */

  --primary: #61d4ff;
  --on-primary: #003545;
  --primary-container: #004d63;
  --on-primary-container: #bbe9ff;
  --secondary: #b4cad5;
  --on-secondary: #1e333c;
  --secondary-container: #354a53;
  --on-secondary-container: #cfe6f2;
  --tertiary: #c5c3ea;
  --on-tertiary: #2e2d4d;
  --tertiary-container: #444364;
  --on-tertiary-container: #e2dfff;
  --error: #ffb4ab;
  --error-container: #93000a;
  --on-error: #690005;
  --on-error-container: #ffdad6;
  --background: #191c1e;
  --on-background: #e1e3e4;
  --surface: #191c1e;
  --on-surface: #e1e3e4;
  --surface-variant: #40484c;
  --on-surface-variant: #c0c8cc;
  --outline: #8a9296;
  --inverse-on-surface: #191c1e;
  --inverse-surface: #e1e3e4;
  --inverse-primary: #006782;
  --shadow: #000000;
  --surface-tint: #61d4ff;
  --outline-variant: #40484c;
  --scrim: #000000;
}

[data-theme="light"] {

  --primary: #006782;
  --on-primary: #ffffff;
  --primary-container: #bbe9ff;
  --on-primary-container: #001f29;
  --secondary: #4c616b;
  --on-secondary: #ffffff;
  --secondary-container: #cfe6f2;
  --on-secondary-container: #081e26;
  --tertiary: #5c5b7d;
  --on-tertiary: #ffffff;
  --tertiary-container: #e2dfff;
  --on-tertiary-container: #191837;
  --error: #ba1a1a;
  --error-container: #ffdad6;
  --on-error: #ffffff;
  --on-error-container: #410002;
  --background: #fbfcfe;
  --on-background: #191c1e;
  --surface: #fbfcfe;
  --on-surface: #191c1e;
  --surface-variant: #dce4e9;
  --on-surface-variant: #40484c;
  --outline: #70787d;
  --inverse-on-surface: #eff1f3;
  --inverse-surface: #2e3132;
  --inverse-primary: #61d4ff;
  --shadow: #000000;
  --surface-tint: #006782;
  --outline-variant: #c0c8cc;
  --scrim: #000000;
}

/* #endregion */

/* #region Basic Structure Region */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.5s ease-in-out;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--background) !important;
  color: var(--on-background) !important;
  font-family: "Centra", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

h2 {
  font-family: "Monospace", monospace !important;
  font-weight: bold !important;
  color: var(--primary) !important;
}

h5 {
  font-family: "Monospace", monospace !important;
  font-weight: bold !important;
  padding-top: 10px;
  color: var(--tertiary) !important;
}

p {
  color: var(--on-background);
}

/* #endregion */

/* #region Navigation Bar Section */

nav.navbar {
  position: fixed;
  width: 100vw;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  background: var(--surface);
  border-bottom: 1px solid var(--outline);
}

nav.navbar a.navbar-brand {
  width: 33.33333%;
}

.my-icon {
  width: 50px;
  height: 50px;
}

.my-name {
  font-family: "Monospace", monospace;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 10px;
  opacity: 0.9;
  display: inline-block;
  color: var(--on-surface);
  transition: 0.3s ease-in-out;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .my-name {
    font-size: 100%;
  }
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: var(--on-surface) !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
  position: relative;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

nav.navbar .navbar-nav a.nav-link.navbar-link::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  top: 100%;
  left: 10%;
  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: bottom right;
  background-color: var(--primary);
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

span.navbar-text {
  align-items: center;
  margin: 15px auto;
}

span.navbar-toggle {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  span.navbar-toggle {
    padding: 20px 0;
  }

  nav.navbar .navbar-nav a.nav-link.navbar-link::after {
    width: 40%;
    left: 30%;
  }
}

.social-icon {
  display: inline-flex;
  align-items: center;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: var(--scrim);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid var(--outline);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background: var(--primary-container);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(100%) contrast(100%);
}

nav.navbar .navbar-toggler {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--outline);
  background-color: var(--surface);
  cursor: pointer;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid var(--primary);
  transition: all 300ms linear;
  top: -2px;
}

@media not all and (pointer: coarse) {
  nav.navbar .navbar-toggler:hover {
    background-color: var(--primary-container);
    opacity: 0.5 !important;
  }
}

nav.navbar .navbar-toggler:active {
  background-color: var(--primary-container);
  opacity: 0.75 !important;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  content: "";
  width: 24px;
  height: 2px;
  background-color: var(--primary);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

/* #endregion */

/* #region Toggle section */

.toggle {
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
}

.toggle-label {
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  align-items: center;
  justify-content: space-between;
  background: var(--inverse-on-surface);
  border-radius: 200px;
  border: 1px solid var(--outline);
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}

.toggle-label:after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.toggle-input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.toggle-input:checked+.toggle-label:after {
  left: 61px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.toggle-label:active:after {
  width: 30px;
}

.icon {
  width: 25%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  user-select: none;
}

.sun-icon {
  left: 10%;
  transition: 0.3s;
}

.moon-icon {
  right: 10%;
  transition: 0.3s;
}

.toggle-input:checked+.toggle-label .sun-icon {
  filter: grayscale(100%);
}

.toggle-input:not(:checked)+.toggle-label .moon-icon {
  filter: brightness(50%) contrast(100%) saturate(0%) sepia(0%) hue-rotate(0deg);
}

/* #endregion */

/* #region Banner Section */

.banner {
  margin: 70px var(--big-margin) var(--big-margin) var(--big-margin);
}

.banner .tagline {
  width: auto;
  margin: 50px auto;
  font-family: "Monospace", monospace;
  font-weight: bold;
  color: var(--inverse-primary);
  background: var(--inverse-surface);
  letter-spacing: 0.8px;
  padding: 12px;
  border: 1px solid var(--outline);
  border-radius: 10px;
}

.banner .wrap {
  font-family: "Monospace", monospace;
  font-weight: normal;
  color: var(--primary);
}

.banner h1 {
  font-weight: bold;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
  display: block;
  text-align: start;
  height: 50px;
}

.banner p {
  font-size: 1.125rem;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  padding: 20px 0 0 0;
}

.banner-link {
  width: fit-content !important;
  margin: 50px auto !important;
  font-family: "Monospace", monospace;
  font-weight: bold;
  color: var(--on-primary-container);
  background: var(--primary-container);
  letter-spacing: 0.8px;
  padding: 12px;
  border: 1px solid var(--outline);
  border-radius: 10px;
  text-decoration: none;
}

.banner-link svg {
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner-link:hover svg {
  margin-left: 25px;
}

.banner-img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  animation: updown 3s linear infinite;
  margin: 0 auto;
}

.banner-img img {
  display: block;
  width: 100%;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate>.wrap {
  border-right: 0.08em solid var(--outline);
}

.cursor {
  animation: cursorAnimation 0.5s infinite;
}

@keyframes cursorAnimation {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.background-image-banner {
  width: 30vw;
  position: absolute;
  top: 30vh;
  right: 65vw;
  opacity: 0.25;
  z-index: -4;
}

@media (max-width: 767px) {
  .background-image-banner {
    width: 100vw;
    top: 25vh;
    right: 0vw;
  }
}

/* #endregion */

/* #region Sills Section */

.skill {
  margin: var(--small-margin) var(--big-margin);
}

.col {
  padding: 0 !important;
}

.skill-bx {
  text-align: center;
  padding: 50px 0 50px 0;
}

.skill h2 {
  font-size: 3rem;
}

.skill p {
  font-size: 1.125rem;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skill-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  cursor: grab;
}

.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.background-image-skills {
  width: 40vw;
  position: absolute;
  top: 65vh;
  right: 0vw;
  opacity: 0.25;
  z-index: -4;
}

@media (max-width: 767px) {
  .background-image-skills {
    width: 100vw;
    top: 140vh;
  }
}

.react-multiple-carousel__arrow {
  background: var(--primary) !important;
  border: 1px solid var(--outline) !important;
  opacity: 0.25 !important;
  transition: opacity 0.3s !important;
}

.react-multiple-carousel__arrow--left {
  top: 35% !important;
  left: 0 !important;
}

.react-multiple-carousel__arrow--right {
  top: 35% !important;
  right: 0 !important;
}

@media not all and (pointer: coarse) {
  .react-multiple-carousel__arrow:hover {
    opacity: 0.5 !important;
  }
}

.react-multiple-carousel__arrow:active {
  opacity: 0.75 !important;
}

.react-multiple-carousel__arrow:before {
  color: var(--on-primary) !important;
}

.circle-background {
  fill: none;
  stroke: var(--surface-variant);
}

.circle-progress {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 1.5rem;
  font-weight: bold;
  user-select: none;
}

/* #endregion */

/* #region Career Tab Section */

.career {
  margin: var (var(--small-margin)) var(--big-margin);
  position: relative;
}

.career h2 {
  padding: 50px 0 50px 0;
  font-size: 3rem;
  text-align: center;
}

.career p {
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 60%;
}

.career .nav.nav-pills {
  width: 75%;
  margin: 0 auto;
  border-radius: 55px;
  background: var(--background);
}

.career .nav.nav-pills .nav-item {
  width: 33.33333%;
}

.career .nav.nav-pills .nav-item a {
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.career .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: var(--on-background);
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.career .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: var(--secondary-container);
  color: var(--on-secondary-container);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.nav-link#career-tabs-tab-first::before {
  border-radius: 55px 0px 0px 55px;
}

.nav-link#career-tabs-tab-third::before {
  border-radius: 0px 55px 55px 0px;
}

.career .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.career .nav.nav-pills .nav-link.active {
  border: 1px solid var(--outline);
}

.nav-link#career-tabs-tab-first {
  border: 1px solid var(--outline);
  border-radius: 55px 0px 0px 55px;
}

.nav-link#career-tabs-tab-second {
  border-top: 1px solid var(--outline);
  border-bottom: 1px solid var(--outline);
}

.nav-link#career-tabs-tab-third {
  border: 1px solid var(--outline);
  border-radius: 0px 55px 55px 0px;
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}

.proj-imgbx::before {
  content: "";
  background: var(--primary-container);
  opacity: 0.75;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  color: var(--on-primary-container);
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}

.tab-content {
  padding-bottom: 50px;
}

.proj-imgbx img {
  background: var(--scrim);
  border-radius: 50%;
  border: 2px solid var(--outline);
}

.background-image-career {
  width: 25vw;
  position: absolute;
  top: -10vh;
  left: 5vw;
  opacity: 0.25;
  z-index: -4;
}

@media (max-width: 767px) {

  .nav-pills {
    flex-direction: column;
    align-items: flex-start;
  }

  .career .nav.nav-pills {
    width: 80%;
    margin: 0 auto;
    border-radius: 25px;
    background-color: var(--background);
  }

  .career .nav.nav-pills .nav-item {
    width: 100%;
    display: block;
    text-align: center;
  }

  .career .nav.nav-pills .nav-link {
    padding: 15px 0;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    text-align: center;
    border: none;
    color: var(--on-background);
  }

  .nav-link#career-tabs-tab-first::before {
    border-radius: 25px 25px 0px 0px;
  }

  .nav-link#career-tabs-tab-third::before {
    border-radius: 0px 0px 25px 25px;
  }

  .career .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: var(--secondary-container);
    color: var(--on-secondary-container);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }

  .career .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
  }

  .career .nav.nav-pills .nav-link.active {
    border: 1px solid var(--outline);
  }

  .nav-link#career-tabs-tab-first {
    border: 1px solid var(--outline);
    border-radius: 25px 25px 0px 0px;
  }

  .nav-link#career-tabs-tab-second {
    border-right: 1px solid var(--outline);
    border-left: 1px solid var(--outline);
  }

  .nav-link#career-tabs-tab-third {
    border: 1px solid var(--outline);
    border-radius: 0px 0px 25px 25px;
  }

  .projects-row {
    width: 100vw !important;
    margin: 0 auto !important;
  }

  .background-image-career {
    width: 90vw;
    top: 1vh;
    left: 5vw;
  }
}

.vertical-timeline-element-content {
  border-radius: 1rem !important;
}

.vertical-timeline-element-title {
  font-size: 1.5rem !important;
  color: var(--primary) !important;
  font-family: monospace !important;
  margin: 10px auto !important;
}

.vertical-timeline-element-subtitle {
  font-size: 1.125rem !important;
  font-weight: lighter !important;
  margin-bottom: 10px !important;
  color: var(--tertiary) !important;
}

.vertical-timeline-element-content p {
  width: 90%;
  margin: 0 auto !important;
  font-size: 1rem !important;
  font-weight: normal !important;
}

/* #endregion */

/* #region Career Swiper Section */

.education,
.certification {
  width: 25vw !important;
}

.education a {
  margin: 20px 0;
}

.certification a {
  text-decoration: none;
}

.education img,
.certification img {
  width: 9vw !important;
  padding-bottom: 20px;
}

.education h1,
.education h2,
.education h3,
.education h4,
.certification h1,
.certification h2,
.certification p {
  padding: 0;
  margin: 0;
  font-family: "Centra", sans-serif !important;
  font-weight: normal !important;
  margin: 0 auto;
  color: var(--on-tertiary-container) !important;
}

.education h1,
.certification h1 {
  font-size: 1.5rem;
  font-weight: bold !important;
}

.education h2,
.certification h2 {
  font-size: 1.375rem;
  color: var(--on-background) !important;
  margin: 10px auto !important;
}

.education h3,
.certification a {
  font-size: 1.125rem;
  color: var(--primary) !important;
  font-family: monospace !important;

}

.education h4 {
  font-size: 1rem;
  margin: 10px auto !important;
  font-weight: lighter !important;
}

.certification p {
  font-size: 0.875rem;
  margin: 10px auto !important;
  width: 90%;
}

.container-certifications {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.swiper-container {
  position: relative;
  width: 100%;
  padding-bottom: 10px !important;
}

.swiper-wrapper {
  display: flex;
  align-items: stretch;
}

.swiper-slide {
  flex: 1;
  padding: 15px 15px;
  background: var(--tertiary-container);
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
}

.swiper-slide img {
  width: 100%;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 64% !important;
  transform: translateX(-64%) !important;
}

.slider-controler .swiper-button-prev {
  left: 36% !important;
  transform: translateX(-36%) !important;
}

@media (max-width: 767px) {

  .education,
  .certification {
    width: 65vw !important;
  }

  .education img,
  .certification img {
    width: 25vw !important;
  }

  .education h1 {
    padding-top: 15px;
  }

  .slider-controler .swiper-button-next {
    left: 90% !important;
    transform: translateX(-90%) !important;
  }

  .slider-controler .swiper-button-prev {
    left: 10% !important;
    transform: translateX(-10%) !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {

  .certification,
  .education {
    width: 60vw !important;
  }

  .slider-controler .swiper-button-next {
    left: 84% !important;
    transform: translateX(-84%) !important;
  }

  .slider-controler .swiper-button-prev {
    left: 16% !important;
    transform: translateX(-16%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--primary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--outline);
  opacity: 0.25;
  font-size: 1.5rem;
  text-align: center;
  color: var(--on-primary);
  user-select: none;
  transition: opacity 0.3s;
}

@media (pointer: coarse) {

  .slider-controler .slider-arrow:hover {
    opacity: 0.25;
  }

  .slider-controler .slider-arrow:active,
  .slider-controler .slider-arrow:focus {
    opacity: 0.75;
  }
}

@media not all and (pointer: coarse) {
  .slider-controler .slider-arrow:hover {
    opacity: 0.5;
  }

  .slider-controler .slider-arrow:active,
  .slider-controler .slider-arrow:focus {
    opacity: 0.75;
  }
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 100% !important;
  padding-bottom: 10px;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(14, 14, 14, 0.11));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

/* #endregion */

/* #region Footer Section */

.footer {
  padding: 20px 0;
  background: var(--surface);
}

.footer img {
  width: 26%;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding-top: 40px;
  font-family: "Monospace", monospace;
  font-weight: bold;
  color: var(--on-surface);
}

@media (max-width: 767px) {
  .footer .footer-logo {
    padding-bottom: 20px;
  }
}

/* #endregion */

/* #region Disclaimer Section */

.disclaimer {
  position: fixed;
  margin: 1rem;
  bottom: 0;
  right: 0;
  width: 30vw;
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  padding: 10px;
  text-align: center;
  border-radius: 1rem;
  z-index: 999;
  transform: translateY(110%);
  transition: transform 0.3s ease-in-out;
  opacity: 0.9;
}

@media (max-width: 992px) {
  .disclaimer {
    width: calc(100% - 2rem);
  }
}

.disclaimer button {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  border: 1px solid var(--outline);
  border-radius: 20px 20px 20px 20px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.disclaimer-tittle {
  font-size: 1.25 rem;
  font-family: monospace;
}

.disclaimer:not(.accepted) {
  transform: translateY(0%);
}

.close-button {
  position: relative;
  top: 0;
  right: -45%;
  font-size: 2rem;
  background-color: transparent !important;
  border: none !important;
  outline: none;
  padding: 0 !important;
  margin-top: 0 !important;
}

.close-button:hover {
  color: var(--error);
}

/* #endregion */

/* #region Default React Project Style Section */

.App {
  text-align: center;
  background-color: var(--background);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* #endregion */